body { 
    background-color:$main-bg-color;
    font-family:$main-font; 
    font-size:16px;  
    
    .bodyC {
        position:relative;
        padding:0;
        background-color:$light-bg-color;
        margin-right:-15px;
    }
}

#topPanel { margin:0; position:relative; 
    
    .bannerContainer { padding:0; }
    .profileImg {border: 3px solid white;}
    
    .profPanel { 
        width:445px; 
        height:150px; 
        background-color: $light-bg-color; 
        position: absolute;
        left:40px;
        top:70px;
        border-radius: 8px;
        -moz-box-shadow:    3px 3px 3px 0px #666;    
        -webkit-box-shadow: 3px 3px 3px 0px #666;
        box-shadow:         3px 3px 3px 0px #666;

        img {
            position:absolute;
            right:-20px;
            top:-20px;
        }
        span { margin-right:8px; }
        
        .profPanelText { position:relative; top:10px; left:20px; 
            p {
                &:first-child{ font-size:3rem; font-weight:300; margin-bottom:3px; 
                    span { color:$text-lightGrey; }
                }
                &:nth-child(2) { font-size:2.2rem; color:$highlight-color; margin-top:-8px; }
            }
            ul { color:$text-lightGrey; padding-top:5px; font-weight:300; }
        }
    }

}